/*====================== AoE2ita CSS */
/*========== Global */
html, body {
    background-color: #232323;
    color: #FFFFFF;
}

footer, section.main {
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #95989A;
}

a:hover, button:hover, .tournamentTable tbody > tr {
    cursor: url('aoe2hand_1_37x37.png'), pointer;
}

h1 {
    color: #FFFFFF;
    text-transform: uppercase;
}

h3, h2 {
    color: #E8BA03;
}

thead {
    border: 1px solid #8a7522;
}

div.spacer {
    height: 20px;
}

.pure-button {
    background-color: #232323;
    color: #95989A;
    border: 1px solid #95989A;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 0.5em 1.5em;
}

table {
    background-color: #232323;
    color: #95989A;
    border: 1px solid rgba(84, 84, 84, 0.44);
    /*border-collapse: separate;
    border-spacing: 0 5px !important;*/
}

th {
    border-bottom: none !important;
}

tbody > tr {
    background-color: #545454;
    opacity: 0.44;
    /*border-bottom: 2px solid #232323;*/
}

th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid #95989A;
}

select, input, textarea {
    background-color: #232323;
    color: #95989A;
}

label, .dataTable-info {
    color: #95989A;
}

.modalTheme {
    border-radius: 10px;
    background-color:#232323;
    width:500px;
    height:auto;
    padding:25px;
    border: 1px solid #95989A;
}

.modalTheme > div {
    text-align: center;
}

.modalTheme > span {
    display: block;
    margin-bottom: 25px;
    text-align: justify;
}

.modalTheme > p {
    text-align: right;
}

/**
 * giallo #E8BA03
 * chiaro #95989A
 * scuro #232323
 * rossastro #7A5040
 * marroncino #8E764C
 */

/*========== Navbar */
nav.mainNav {
    text-align: center;
    position: relative;
}

nav.mainNav .icon {
    position: relative;
    width: 100px;
    display: flex;
    height: 90px;
}

nav.mainNav .icon > img {
    position: absolute;
    height: 110px;
}

nav #steamLogin {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.pure-menu-item {
     margin: 0 10px;
}

.pure-menu-link {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: bold;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
    background-color: transparent;
}

/*========== Home */
section.container {
    border-top: 1px solid #8a7522;
    border-bottom: 1px solid #8a7522;
}

.headerTiles {
    height: 300px;
}

.firstTile, .secondTile, .thirdTile, .fourthTile {
    border: 1px solid #8a7522;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -25px;
}

.firstTile {
    background-image: url("images/aoe1.png");
}

.secondTile {
    background-image: url("images/aoe2.jpg");
}

.thirdTile {
    background-image: url("images/aoe3.jpg");
}

.fourthTile {
    background-image: url("images/aoe4.jpg");
}

.headerImage {
    height: 240px;
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -480px;
    border-bottom: 1px solid #8a7522;
}

.headerTitle {
    text-align: center;
}

section.main {
    padding: 70px 7%;
    background-image: url("images/busto.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

section.main .graph {
    background-image: url("images/torneo.png");
    background-repeat: no-repeat;
    background-position: center;
}

section.main .cta {
    text-align: center;
    padding: 15px 50px;
}

section.main .text {
    margin-left: 40%;
    border-left: 1px solid #95989A;
    padding: 3px 0px 3px 40px;
    height: 100%;
}

section.articles {
    padding: 0 5%;
    background-image: url("images/articles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -280px;
}

.articleTile {
    margin: 40px;
    padding: 0 25px;
    border: 1px solid #95989A;
    background-color: #232323;
}

/*========== Tournaments */
section.tournaments {
    border-top: 1px solid  #95989A;
    border-bottom: 1px solid #8a7522;
    padding: 10% 8%; 
    background-image: url("images/tournaments.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar, .tournamentTable {
    border: 1px solid #95989A;
    padding: 10px;
    background-color: rgba(35, 35, 35, 0.58);
}

.tournamentTable {
    margin-left: 30px;
}

.dataTable-container {
    border-bottom: none !important;
}

.sidebar .text, .sidebar .profile, .sidebar .details {
    border: 1px solid #7A5040;
    background-color: rgba(0, 0, 0, 0.66);
    margin-top: 20px;
}

.dataTable-sorter::after {
    border-bottom-color: #95989A !important;
}

.dataTable-sorter::before {
    border-top-color: #95989A !important;
}

.sidebar .bigButton {
    border: 1px solid #95989A;
    background-color: #232323;
    padding: 8px;
}

.bigButton > a {
    display: block;
    text-transform: uppercase;
    background-color: #8E764C;
    border: 1px solid #7A5040;
    padding: 15px;
    text-align: center;
    color: #232323;
    text-decoration: none;
}

.sidebar .text, .details .content {
    padding: 20px;
}

.avatar {
    padding: 5px;
}

.avatar img {
    width: 100%;
    border: 1px solid #95989A;
}

.profile {
    min-height: 115px;
}

.profile .user {
    text-align: center;
    padding-top: 30px;
}

.user .logout {
    font-size: 8pt;
}

.profile .score {
    border-left: 1px solid #7A5040;
    min-height: 115px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .rank {
    margin: 0 5px 5px;
    padding: 5px;
    border-top: 1px solid #7A5040;
    display: flex;
    justify-content: space-between;
}

.score > img {
    width: 18px;
    margin-left: 2px;
}

.details .title {
    text-align: center;
    border-bottom: 1px solid #7A5040;
    padding: 5px 0;
    text-transform: uppercase;
}