{% extends "layout.html.twig" %}

{% block title %}AoE2ita{% endblock %}
{% block meta %}
    {{ parent() }}
    <meta name="description" content="La piattaforma che raduna i giocatori di Age of Empires 2." />
    <meta property="og:url"           content="https://aoe2ita.tk" />
    <meta property="og:title"         content="AoE2ita" />
    <meta property="og:description"   content="La piattaforma che raduna i giocatori di Age of Empires 2." />
{% endblock %}
{% block content %}
    {% include 'menu.html.twig' %}
    <header class="pure-g">
        <div class="pure-u-md-1-4 headerTiles">
            <div class="firstTile">
            </div>
        </div>
        <div class="pure-u-md-1-4 headerTiles">
            <div class="secondTile">
            </div>
        </div>
        <div class="pure-u-md-1-4 headerTiles">
            <div class="thirdTile">
            </div>
        </div>
        <div class="pure-u-md-1-4 headerTiles">
            <div class="fourthTile">
            </div>
        </div>
        <div class="pure-u-1">
            <div class="headerImage">

            </div>
            <div class="headerTitle">
                <h1>Cerca e crea tornei di Age of Empires 2</h1>
            </div>
        </div>
    </header>
    <section class="pure-g container main">
        <div class="pure-u-md-1-3 graph"></div>
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="cta">
                <h2>Chi sarà il re?</h2>
                <a class="pure-button" href="{{ path_for('tournaments') }}">Entra</a>
                <div class="spacer"></div>
                <p>Se anche tu sei cresciuto a <i>modchin</i>, <i>chassëoir</i>, <i>jägere</i>, <i>firm</i>, allora sei nel posto giusto! Cerca o crea un torneo, vinci le partite e fatti conoscere dalla comunità. Finalmente giocare ad Age of Empires online sarà solo piacere e divertimento, con l'occasione di far nascere gruppi di gioco basati su stima ed amicizia.</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="text">
            Questa piattaforma nasce con lo scopo di radunare i giocatori di Age of Empires 2, nuovi e nostalgici, che vogliono trovare altre persone desiderose di giocare insieme, con lo scopo di conoscersi, comunicare e divertirsi. Qui è possibile cercare o creare tornei, in modo da potersi iscrivere e far sapere agli altri che si vuole giocare, creando nuovi team e invogliando i partecipanti ad esporsi come compagni di gioco anziché come casual gamer nelle partite pubbliche. Grafica e codice sono stati realizzati nel tempo libero per mano di alcuni giocatori appassionati che, coincidenza, fanno questo per mestiere. Tutto è un <i>work in progress</i>, ogni aggiunta e modifica è possibile nel momento in cui effettivamente si potrà constatare partecipazione e utilizzo continuo. Tutto quello che vedete è offerto ovviamente in maniera gratuita (il gioco dovete comprarvelo eh), non vi sarà alcuna pubblicità e nessuna raccolta di dati per rivenderli a terzi. L'unica condizione di utilizzo e nostra espressa richiesta è la seguente: siate giocatori seri e responsabili, qui siamo tutti amici e questo è un luogo di divertimento intorno ad un gioco.<br>Per qualsiasi dubbio, richiesta, parere, consiglio, saluto, potete scriverci attraverso il link <a onclick="feedbackModal()">Feedback</a> che trovate in fondo ad ogni pagina del sito.<br><i>14. Comincia la partita</i><small style="display: block; text-align: right;">- lo staff di AoE2ita</small>
            </div>
        </div>
    </section>
    <div class="spacer"></div>
    <section class="pure-g container articles">
        <article class="pure-u-md-1-4">
            <div class="articleTile">
                <h3>Guide e articoli</h3>
                <p>Un prossimo passo sarà l'implementazione di un sistema di creazione e pubblicazione di guide e articoli. Se sei interessato a leggere dei contenuti su Age of Empires o vorresti scrivere articoli o guide, <a onclick="feedbackModal()">contattaci</a>!</p>
            </div>
        </article>
        <article class="pure-u-md-1-4">
            <div class="articleTile">
                <h3>Parliamoci</h3>
                <p>In questo momento tutti siamo accomunati dall'utilizzo di Steam che ci consente di aggiungerci tra gli amici e chattare. Nel caso sia necessario avremo a disposizione un server TeamSpeak3 da adoperare come community, per conoscerci e organizzarsi al meglio con le squadre. Fateci sapere se può essere utile e in caso pubblicheremo i dati relativi.</p>
            </div>
        </article>
        <article class="pure-u-md-1-4">
            <div class="articleTile">
                <h3>Mettersi in gioco</h3>
                <p>Siamo tutti d'accordo che essere un <i>Catafratto</i> o un <i>Paladino</i> sia molto più figo, ma per vincere avrai sempre comunque bisogno degli <i>Abitanti del villaggio</i>. Se anche tu vuoi costruire insieme a noi questa piattaforma e la sua community, <a onclick="feedbackModal()">scrivici</a> (<i>Argano</i> e <i>Telaio</i> garantiti a tutti).</p>
            </div>
        </article>
        <article class="pure-u-md-1-4">
            <div class="articleTile">
                <h3>Mondo dei social</h3>
                <p>In questo momento siamo presenti solo su Facebook, con la nostra pagina creata nel lontano 2011 e purtroppo rimasta attiva per pochissimo tempo. In questi 6 anni però le visite e i "mi piace" sono continuati ad arrivare, a testimonianza di come manchi un vero punto di riferimento ad Age of Empires 2 nel panorama italiano. Pubblicheremo annunci, aggiornamenti e notizie sulla pagina e saremo sempre presenti per rispondere ai vostri messaggi.</p>
            </div>
        </article>
    </section>
    <div id="loginPop" style="display: none;">
        <span>Per utilizzare la piattaforma e partecipare ai tornei è necessario autenticarsi con il proprio account di STEAM<sup>&reg;</sup>. L'autenticazione è gestita completamente dal sito di STEAM<sup>&reg;</sup> che accerta la vostra identità al posto nostro, per cui noi non salviamo alcun dato personale sensibile del vostro profilo e su questo sito non verrà richiesta alcuna password.<br>L'autenticazione permette ai giocatori del torneo di conoscersi e contattarsi, creare e partecipare ai tornei, visualizzare le statistiche di gioco personali e degli altri partecipanti.<br>Questo sito è stato pensato per aiutare i giocatori a conoscersi e creare tornei di questo gioco immortale.</span>
        <div>
            <a href="{{ path_for('registration') }}"><img src="/assets/images/steam.png" alt="login"></a>
        </div>
        <p>Lo staff di AoE2ita</p>
    </div>
    <div id="detailPop" style="display: none;">
        <h3>Termini & Condizioni</h3>
        <span>Lo staff di AoE2ita si riserva il diritto in qualsiasi momento di interrompere il servizio o escludere utenti dalla piattaforma.</span>
        <h3>Privacy Policy</h3>
        <span>Nessun vostro dato personale sensibile viene utilizzato o salvato in questa piattaforma. Le uniche informazioni che raccogliamo sono limitate al vostro <i>username</i> pubblico di STEAM<sup>&reg;</sup>, il vostro <i>avatar</i> pubblico e i dati di gioco pubblici relativi solamente a <i>Age of Empires 2</i>. In questo momento non viene né richiesta né salvata la vostra <i>email</i> associata al vostro profilo STEAM<sup>&reg;</sup>, ma in futuro potrebbero sorgere esigenze di comunicazione o di newsletter alternative alla pagina Facebook. Eventuali modifiche dei dati raccolti verranno annunciate con largo preavviso e richiederanno nuovamente l'accettazione di queste policy, con la possibilità di chiedere chiarimenti ed eventualmente rifiutando di autenticarsi nuovamente sulla piattaforma.</span>
        <h3>Cookie Policy</h3>
        <span>I cookie salvati sul vostro browser servono strettamente come sistema di sicurezza e garanzia per accertare che siate realmente voi gli utilizzatori in seguito al vostro primo login.</span>
        <div><button onclick="closeModal()" class="pure-button">Correctus</button></div>
    </div>
    <div id='cookiePolicyBar' style="display: none;">
        <span>Effettuando il login si dichiara di aver letto ed accettato i <a onclick="detailsModal()">Termini e le Condizioni</a> di utilizzo, la <a onclick="detailsModal()">Cookie Policy</a> e la <a onclick="detailsModal()">Privacy Policy</a>.</span> <button onclick="closePolicyBar()" class="pure-button">à la bataille!</button>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}
{% block javascript %}
  {{ parent() }}
{% endblock %}