<nav class="pure-menu pure-menu-horizontal mainNav">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Guide</a></li>
        <li class="pure-menu-item"><a href="/" class="icon"><img src="/assets/images/icon_aoe.png" alt="aoe2ita"></a></li>
        <li class="pure-menu-item"><a href="{{ path_for('tournaments') }}" class="pure-menu-link">Tornei</a></li>
        <!--<li class="pure-menu-item"><a href="{{ path_for('registration') }}"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png" alt="login"></a></li>--> <!--Mobile version-->
    </ul>
    <div class="steamLogin"> <!-- hide when logged in ? -->
        <a href="{{ path_for('registration') }}"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png" alt="login"></a>
    </div>
</nav>